body {
	background: #222;
}

@mixin section-block {
	width: 100%;
	min-height: calc(100vh - 3px);
	border-top: 3px solid #fc5438;
	background: #ffe;

	body.admin-bar & {
		min-height: calc(100vh - 32px);

		@media screen and (max-width: 782px) {
			min-height: calc(100vh - 46px);
		}
	}

	.block-editor &,
	body.admin-bar .block-editor & {
		min-height: 600px;
	}

	.breadcrumbs {
		font-size: 15px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #808080;

		a {
			text-decoration: none;
			color: #808080;
			transition: 0.2s all ease-in;

			&:hover {
				color: #000;
				background-color: #ffeb99;
			}
		}

		h2 {
			font-size: 15px;
			font-weight: 600;
			display: inline-block;
			margin: 0;

			a {
				color: #FC5438;
			}
		}
	}
}

@mixin breakpoint($size) {
	$breakpoints: (
		sm: 376px,
		md: 769px,
		lg: 992px,
		xl: 1200px
	);

	@if map-has-key($breakpoints, $size) {
		@media (min-width: map-get($breakpoints, $size)) {
			@content;
		}
	} @else {
		@warn "Unfortunately, no value could be retrieved from `#{$size}`. "
		    + "Available breakpoints are: #{map-keys($breakpoints)}.";
	}
}
