@use 'variables' as *;

body, input, select, textarea {
	font-family: $ff-system;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ff-source;
	font-weight: 600;
}

p {
	margin-top: 1.5em;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: 24px;
}

a {
	color: #FC5438;
	transition: 0.2s color ease-out;

	&:hover {
		color: #000;
	}
}

.content {
	i, em {
		font-style: italic;
	}

	b, strong {
		font-weight: bold;
	}
}
