@use 'variables' as *;

@import 'blocks/intro';
@import 'blocks/projects';
@import 'blocks/image';
@import 'blocks/embed';
@import 'blocks/scrolly-image';
@import 'blocks/videos';
@import 'blocks/subpage';

.editor-styles-wrapper {
	font-family: $ff-system;
	font-size: 18px;
	line-height: 1.7;
}
