@use 'variables' as *;

body, input, select, textarea {
	font-family: $ff-system;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $ff-source;
	font-weight: 600;
}

p {
	margin-top: 1.5em;

	&:first-child {
		margin-top: 0;
	}
}

h1 {
	font-size: 24px;
}

h3 {
	margin-top: 1.5em;
	margin-bottom: -0.5em;
	font-size: 20px;
}

a {
	color: #FC5438;
	transition: 0.2s color ease-out;

	&:hover {
		color: #000;
	}
}

.content {
	> ul, ol {
		margin-top: 1em;
	}

	> ul > li {
		list-style: square;
		margin-left: 1.5em;
	}

	> ol > li {
		list-style: decimal;
		margin-left: 2em;
	}

	i, em {
		font-style: italic;
	}

	b, strong {
		font-weight: bold;
	}
}
