@use '../layout' as *;

.wp-block-image {
	margin: 1.5em 0;
	width: calc(100vw - 30px);
	max-width: 1000px;

	&.image--full-width img {
		width: 100%;
	}

	&.alignleft,
	&.alignright {
		width: 50%;
		transform: translateY(8px);

		&:first-child {
			margin-top: 0;
		}
	}

	&.alignleft {
		margin-right: 1.5em;

		@include breakpoint(sm) {
			float: left;
		}

		@include breakpoint(xl) {
			margin-left: -115px;
		}
	}

	&.alignright {
		margin-left: 1.5em;

		@include breakpoint(sm) {
			float: right;
		}

		@include breakpoint(xl) {
			margin-right: -115px;
		}
	}

	&.aligncenter {
		max-width: 720px;
	}

	&.alignwide {
		@include breakpoint(xl) {
			max-width: 1200px;
			margin-left: -115px;
		}
	}

	&.alignfull {
		margin-left: -15px;
		max-width: none;
		width: 100vw;

		@include breakpoint(lg) {
			margin-left: calc(515px - 50vw - 30px);
		}
	}

	figcaption {
		text-align: left;
		font-size: 16px;
		line-height: 24px;
		color: #808080;
		margin-top: 1em;
		max-width: 720px;

		a {
			color: #808080;

			&:hover {
				color: #FC5438;
			}
		}
	}

	&.alignwide figcaption {
		@include breakpoint(xl) {
			margin-left: 115px;
		}
	}

	&.alignfull figcaption {
		padding: 0 15px;

		@include breakpoint(lg) {
			padding: 0;
			margin-left: calc(50vw - 515px + 30px);
		}
	}

	.block-editor &.alignwide figcaption {
		@include breakpoint(xl) {
			margin-left: 140px;
		}
	}

	.block-editor &.alignfull {
		width: 100%;
		margin-left: 0;
	}

	.block-editor &.alignfull figcaption {
		padding: 0 15px;

		@include breakpoint(lg) {
			padding: 0;
			margin-left: calc(50% - 360px);
		}
	}

	.block-editor &.alignleft,
	.block-editor &.alignright {
		width: 360px;
		transform: translateY(-18px);
	}

	.block-editor &.alignleft {
		margin-inline-end: 1.5em !important;
		margin-right: 0;
		padding-left: 1.5em;

		figcaption {
			padding-left: 1.5em;
		}
	}

	.block-editor &.alignright {
		margin-inline-start: 1.5em !important;
		margin-left: 0;
		padding-right: 1.5em;

		figcaption {
			padding-right: 1.5em;
		}
	}
}
