@use '../variables' as *;
@use '../layout' as *;

.intro-block {
	position: relative;
	background-size: cover;
	background-position: center center;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 1.8;
	font-size: 16px;

	@include section-block;
	@include full-height;

	.container {
		position: absolute;
		left: 20vw;
		top: 20vh;
	}

	h1 {
		font-size: 16px;
		display: inline-block;
		color: #fff;
		background: rgba(252, 84, 56, 0.75);
		margin-bottom: 30px;
		padding: 0 10px;
	}

	li {
		margin: 0;
		list-style: none;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	a {
		font-family: $ff-source;
		display: inline-block;
		color: #FC5438;
		background: rgba(255, 255, 255, 0.75);
		transition: 0.2s color ease-out;
		padding: 0 10px;
		margin-bottom: 3px;
		text-decoration: none;

		&:hover {
			color: #000;
		}
	}

	.container {
		padding: 20px;
	}
}
