@use '../layout' as *;

.scrolly-image-block {
	position: relative;
	width: calc(var(--vw, 1vw) * 100);
	margin: 15px -15px;
	background: #dedede;

	@include breakpoint(md) {
		width: 100%;
		margin: 30px 0;
		background: transparent;
	}

	@include breakpoint(lg) {
		width: 860px;
	}

	.acf-block-preview & {
		height: 600px;
		overflow: hidden;
	}

	.sticky-image {
		position: sticky;
		top: 0;

		@include breakpoint(md) {
			body.admin-bar & {
				top: 32px;
			}
		}
	}

	.sticky-image__inner {
		position: relative;
		height: calc(var(--vh, 1vh) * 100);

		@include breakpoint(md) {
			body.admin-bar & {
				height: calc(var(--vh, 1vh) * 100 - 32px);
			}
		}
	}

	.image {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(var(--vw, 1vw) * 100);
		height: auto;
		transform: translate3d(0, calc(var(--vh, 1vh) * 50 - 50%), 0);
		-webkit-transform: translate3d(0, calc(var(--vh, 1vh) * 50 - 50%), 0);
		-moz-transform: translate3d(0, calc(var(--vh, 1vh) * 50 - 50%), 0);
		opacity: 0;
		transition: opacity 0.3s ease-out;

		@include breakpoint(md) {
			width: auto;
			height: calc(var(--vh, 1vh) * 100);
			transform: translate3d(0, 0, 0);
			-webkit-transform: translate3d(0, 0, 0);
			-moz-transform: translate3d(0, 0, 0);

			body.admin-bar & {
				height: calc(var(--vh, 1vh) * 100 - 32px);
			}
		}

		&.is-visible {
			opacity: 1;
		}

		.acf-block-preview & {
			position: absolute;
			display: none;

			&.image-0 {
				display: block;
			}
		}
	}

	.image-0 {
		opacity: 1;
	}

	.caption {
		position: relative;
		width: 100%;
		height: calc(var(--vh, 1vh) * 100);
		transform: translateY(calc(var(--vh, 1vh) * -100));

		&:last-child {
			height: calc(var(--vh, 1vh) * 50);
		}

		.acf-block-preview & {
			height: 600px;
		}
	}

	.caption__inner {
		position: absolute;
		left: 50%;
		top: calc(var(--vh, 1vh) * 50);
		color: #dedede;
		background: rgba(0, 0, 0, 0.8);
		padding: 15px;
		transform: translateY(-50%) translateX(-50%) translateZ(1px);
		width: 300px;

		&.empty {
			visibility: hidden;
		}

		p {
			margin-top: 5px;
		}

		a {
			color: #fff;

			&:hover {
				color: #aaa;
			}
		}

		> *:first-child {
			margin-top: 0;
		}

		figcaption {
			font-size: 16px;
			line-height: 20px;
			color: #999;
		}

		@include breakpoint(md) {
			left: auto;
			right: 0;
			transform: translateY(-50%) translateX(0);
		}
	}
}
