.scrolly-image-block {
	position: relative;
	width: 100%;
	margin: 30px 0;

	.acf-block-preview & {
		height: 600px;
		overflow: hidden;
	}

	.sticky-image {
		position: sticky;
		top: 0;

		body.admin-bar & {
			top: 32px;
		}
	}

	.sticky-image__inner {
		position: relative;
		height: 100vh;

		body.admin-bar & {
			height: calc(100vh - 32px);
		}
	}

	.image {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		height: 100vh;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		opacity: 0;
		transition: opacity 0.3s ease-out;

		body.admin-bar & {
			height: calc(100vh - 32px);
		}

		&.is-visible {
			opacity: 1;
		}

		.acf-block-preview & {
			position: absolute;
			display: none;

			&.image-0 {
				display: block;
			}
		}
	}

	.image-0 {
		opacity: 1;
	}

	.caption {
		position: relative;
		height: 100vh;
		transform: translateY(-100vh);

		&:last-child {
			height: 50vh;
		}

		.acf-block-preview & {
			height: 600px;
		}
	}

	.caption__inner {
		position: absolute;
		right: 0;
		top: 50vh;
		background: rgba(255, 255, 255, 0.8);
		padding: 10px;
		transform: translateY(-50%);
		width: 300px;
	}
}
