@use '../variables' as *;
@use '../layout' as *;

.subpage-block {
	@include section-block;

	.content {
		padding: 0 15px 30px 15px;
		margin: 30px auto 0 auto;
		max-width: 648px;
		line-height: 1.5;

		@include breakpoint(md) {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
