@use '../layout' as *;
@use '../variables' as *;

.subpage-block {
	@include section-block;

	.container {
		margin: 0 auto;
		padding: 30px 15px;
		max-width: 1000px;

		@include breakpoint(md) {
			padding: 60px 15px;
		}
	}

	.content {
		font-family: $ff-system;
		font-size: 18px;
		line-height: 30px;
		max-width: 720px;
	}
}

.subpage--green {
	border-color: #717F2D;
	background: #ecf2aa;

	a,
	.breadcrumbs h2 a {
		color: #717F2D;

		&:hover {
			color: #000;
		}
	}

	.breadcrumbs a:hover {
		background: #fff;
	}
}

.subpage--brown {
	border-color: #6a644c;
	background: #f2e5ae;

	a,
	.breadcrumbs h2 a {
		color: #6a644c;

		&:hover {
			color: #000;
		}
	}

	.breadcrumbs a:hover {
		background: #fff;
	}
}

.subpage--blue {
	border-color: #407ee2;
	background: #e1eafa;

	a,
	.breadcrumbs h2 a {
		color: #407ee2;

		&:hover {
			color: #000;
		}
	}

	.breadcrumbs a:hover {
		background: #fff;
	}
}

.subpage--red {
	border-color: #9D4648;
	background: #E8CED7;

	a,
	.breadcrumbs h2 a {
		color: #9D4648;

		&:hover {
			color: #000;
		}
	}

	.breadcrumbs a:hover {
		background: #fff;
	}
}
