@use '../variables' as *;
@use '../layout' as *;

body.post-type-archive-video, body.single-video {
	background-color: #222;
}

.videos-block {
	@include section-block;
	border-color: #fc0;
	background-color: #222;

	a,
	.breadcrumbs h2 a {
		color: #fc0;
	}

	a:hover,
	.breadcrumbs a:hover,
	.breadcrumbs h2 a:hover {
		color: #ffeb99;
		background-color: #444;
	}

	.container {
		padding: 20px 0 30px 0;
		max-width: 648px;
		margin: 0 auto;

		@include breakpoint(md) {
			padding: 40px 0 60px 0;
		}

		@include breakpoint(lg) {
			display: flex;
			transform: translateX(-83px);
			max-width: 980px;
		}
	}

	.content {
		width: 100%;
		max-width: 648px;
		padding: 0 15px;
		color: #ccc;
		line-height: 1.5;

		@include breakpoint(md) {
			padding: 0;
		}

		.wp-block-embed.is-type-video {
			margin-left: -15px;
			margin-right: -15px;

			@include breakpoint(md) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		.wp-block-embed.is-type-video + p {
			margin-top: 10px;
		}

		a {
			color: #fc0;
		}
	}

	.video-list {
		position: relative;
		width: 100%;
		max-width: 350px;
		padding: 0 15px 0 35px;

		&:before {
			content: "▶︎";
			position: absolute;
			left: 15px;
			top: -1px;
			color: #fff;
		}

		li {
			display: none;
			font-size: 16px;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-family: $ff-source;
			list-style: none;

			&.selected {
				display: block;

				a {
					color: #fc0;
				}
			}
		}

		@include breakpoint(md) {
			padding-left: 20px;

			&:before {
				left: 0;
			}
		}

		@include breakpoint(lg) {
			padding: 0 15px;

			&:before {
				display: none;
			}

			li {
				display: block;
				text-align: right;
			}
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				color: #ffeb99;
			}
		}
	}

	&.is-expanded {
		.video-list {
			&:before {
				content: "▼";
				color: #fc0;
			}

			li {
				display: block;
			}
		}
	}
}
